# Django Framework
Django==4.2.7
djangorestframework==3.16.1
django-cors-headers==4.9.0

# Image Processing
Pillow==10.0.0



# Database
psycopg2-binary==2.9.9
supabase==2.3.4

# Environment Variables
python-decouple==3.8
python-dotenv==1.0.0

# Utilities
requests==2.31.0

# PDF generation
xhtml2pdf==0.2.8
reportlab==3.6.12
